@import "../core/variable.scss";

.d-none {
    display: none;
}

@media (max-width: $breakpoint-tablet) {
    .d-tablet-none {
        display: none;
    }
}

@media (max-width: $breakpoint-mobile) {
    .d-mobile-none {
        display: none;
    }
}