@import "../core/variable.scss";

.container {
    width: 85%;
    margin: 0 auto;
    max-width: $container-desktop;
}

.grid {
    display: grid;
    grid-gap: 32px;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media(min-width: $breakpoint-laptop) {
        grid-gap: 64px;
    }

    @media(min-width: $breakpoint-desktop) {
        grid-gap: 128px;
    }

    &--21 {
        grid-template-columns: 1fr;

        @media(min-width: $breakpoint-laptop) {
            grid-template-columns: 4fr 3fr;

            &-reverse {
                grid-template-columns: 3fr 4fr;
            }
        }
    }

    &--31 {
        grid-template-columns: 1fr;

        @media(min-width: $breakpoint-tablet) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &--gallery {
        grid-gap: 64px;
        align-items: center;
        margin-bottom: 6rem;
        grid-template-columns: 1fr;

        @media(min-width: $breakpoint-tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @media(min-width: $breakpoint-laptop) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media(min-width: $breakpoint-desktop) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}