@import "../core/variable.scss";

.fractal {
    &__canvas {
        background: $color-black;
    }

    &__label {
        font-size: 12px;
    }

    &__parameter {
        max-width: 300px;
    }

    &__box {
        width: 100%;
    }

}